@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Rogbold";
  src: url("../public/fonts/Rogbold.woff2") format("woff2"),
    url("../public/fonts/Rogbold.woff") format("woff");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: "Rogbold", sans-serif;
  background: #262626;
}
